
#header-mobile {
	display: inline;	
}
#header-desktop {
	display: none;	
}	
#mainContent{
	top: 41px;
}	
#overviewMapContainer { 
	width: 100%;
}
#detailMapContainer { 
	width: 0%;
}

#barChartContainer { 
	width: 100%;
	visibility: visible;
}
#objectInfoContainer { 
	width: 0%;
	visibility: hidden;
}
#spanClasses{
	z-Index: 100000;
	background-color: white;
}

table.objectDetails{
	font-size: 1em;
}

.icon{
	width: 30px;
	height: 30px;
}


/* ************************************* */
/*  infoboxinfobox*/
/* ************************************* */



h1.infobox{
  font-size: 20px;
}

h2.infobox {
  font-size: 18px;
}

h3.infobox {
  font-size: 15px;
}

p.infobox, a.infobox {
  font-size: 15px;
}

#infobox a {
  font-size: 13px;
}

#infobox ul {
  list-style: square outside;
  color: #ccc;
}
#infobox li {
  font-size: 13px;
}

.colophon {
  font-size: 13px;
}

.inner {
  font-size: 15px;
}




