
#header-mobile {
	display: inline;	
}
#header-desktop {
	display: none;	
}	
#mainContent{
	top: 41px;
}	
#overviewMapContainer { 
	width: 100%;
}
#detailMapContainer { 
	width: 0%;
}

#barChartContainer { 
	width: 100%;
	visibility: visible;
}
#objectInfoContainer { 
	width: 0%;
	visibility: hidden;
}
#spanClasses{
	z-Index: 100000;
	background-color: white;
}

table.objectDetails{
	font-size: 1em;
}

.icon{
	width: 30px;
	height: 30px;
}



