

@media all and (max-width: 600px) and (orientation: portrait) {
	#navi {
		display: inline;	
	}
	#header {
		display: none;	
	}	

	#mainContent{
		top: 41px;
	}	
	#overviewMapContainer { 
		width: 100%;
	}
	#detailMapContainer { 
		width: 0%;
	}
	#objectInfoContainer { 
		width: 100%;
	}		
	#barChartContainer { 
		width: 0%;
	}






}






